BasedOnStyle: InheritParentConfig
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterCaseLabel: true
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
IndentPPDirectives: AfterHash
InsertBraces: true